@import url(https://fonts.googleapis.com/css2?family=Jua);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);

body {
  font-family: 'Microsoft YaHei', 'Nanum Gothic', 'Noto Sans KR', sans-serif;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', 'Jua', sans-serif;
  font-weight: normal;
}

/* default-fonts.css
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
*/